@media screen and (max-width: 1680px){
  .title{
    font-size: 4.75rem;
  }
}

@media screen and (max-width: 1366px) {
  .title{
    font-size: 3.75rem;
  }
}
@media screen and (max-width: 1024px) {

  .audio-files {
    width: 50%;
    padding: 15px 100px 15px 40px;
  }
  .audio-files p {
    font-size: 25px;
    line-height: 50px;
  }
  .audio-files p:after {
    margin-top: 13px;
}
  #my-svg, .loader-img {
    width: 70%;
    top: 45%;
  }
  #audio-title{
    bottom: 24vh;
  }
  .counter{
    font-size: 44px;
    width: 100px;
  }
    .extra-content{
    right: 10px;
}
.playlistButton.display span{
    width: 30px;
}
  .share-social{
    margin-top: 15px;
}
    .share-social img{
    width: 25px;
    height: 25px;
}
}
@media screen and (max-width: 790px) {
  .audio-files {
    width: 70%;
    padding: 15px 100px 15px 40px;
  }
}
@media screen and (max-width: 705px) {
/*   #audio-title{
    bottom: 20vh;
  } */
  .title, .about-title {
    font-size: 2.75rem;
  }
  .subtitle{
    font-size: 3.5rem !important;
  }
  .player-holder{
    position: absolute;
    bottom: 3vh;

  }
  .time-counter{
    font-size: 1.3rem;
  }
  .counter{
    font-size: 40px;
    width: 80px;
  }
  .progress{
    width: calc(60% - 120px);
  }
  .read-article p{
    font-size: 1rem;
    padding: 0 0px;
  }
  .read-article .arrow-right{
    width: 60px;
    background-size: 60%;
  }
  figure.width-large {
    width: 80%;
  }
  figure.width-medium {
    width: 50%;
  }
  .read-article{
    display: none;
  }

}

@media screen and (max-width: 600px) {
  .audio-files {
    width: 80%;
    padding: 15px 100px 15px 40px;
  }
  @media screen and (max-width: 490px) {
    .audio-files {
      width: 100%;
      padding: 15px 100px 15px 0px;
    }
    .left-image {
    width: 28%;
    top: 38%;
    right: 10%;
}
.right-image {
    width: 18%;
    left: 20%;
    top: 34%;
}
  }
  @media screen and (max-width: 440px) {
    .counter{
      font-size: 36px;
      width: 70px;
    }
    .progress{
      margin: 0 10px;
    }
    figure.width-large {
      top: 40%;
    }
        .audio-files {
      width: 100%;
      padding: 15px 70px 5px 0px;
    }
  }
